body{
margin:0px;

}



#header{
background-color:#DE0912;
display:flex;
justify-content:flex-start;
}

#header-logo{
display:flex;
justify-content:center;
}
#header-text{
font-size:26px;
display:flex;
align-items:center;
margin:0 auto;
font-weight:bold;
color:#30404D;

}

/*
#firstGraphDiv{
width:300px;
height:250px;
}

#secondGraphDiv{
width:300px;
height:250px;
}

*/

body{
background-color:#30404D;
}

#graph1Insights{
color:white;
padding-left:20px;
padding-right:20px;
}

#graph2Insights{
color:white;
padding-left:20px;
padding-right:20px;
}
#graph3Insights{
color:white;
padding-left:20px;
padding-right:20px;
}
#graph4Insights{
color:white;
padding-left:20px;
padding-right:20px;
}

#graph5Insights{
color:white;
padding-left:20px;
padding-right:20px;
}
Td{
color:white;
}
#val3{
background-color:#30404D;
border:none;
color:white;
}

#val4{
background-color:#30404D;
border:none;
color:white;
}

#calculator{
color:white;
font-size:18px;
}

table, th,td {
  border: 1px solid white;
}

table{
margin:0 auto;
}
